.h1{
     font-style: oblique;
    color: navy;
    font-weight:bold ;
    font-variant:normal;
    font-size: 250%;
    font-family: "Playwrite IT Moderna", cursive;
    font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}